﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Master.Master" AutoEventWireup="true" CodeBehind="Alarm.aspx.cs" Inherits="EgmYKS.Alarm" %>
<%@ Register src="~/Ucntrl/Calinti_Arac/Ucntrl_Alarm.ascx" tagname="Ucntrl_Alarm" tagprefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:Ucntrl_Alarm ID="Ucntrl_Alarm" runat="server" />
</asp:Content>
