﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Master.Master" AutoEventWireup="true" CodeBehind="AltOlay.aspx.cs" Inherits="EgmYKS.AltOlay" %>
<%@ Register src="Ucntrl/Ucntrl_AltOlayList.ascx" tagname="Ucntrl_AltOlayList" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:Ucntrl_AltOlayList ID="Ucntrl_AltOlayList1" runat="server" />
</asp:Content>
