﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Master.Master" AutoEventWireup="true" CodeBehind="AracMarka.aspx.cs" Inherits="EgmYKS.AracMarka" %>
<%@ Register src="~/Ucntrl/Calinti_Arac/Ucntrl_Marka.ascx" tagname="Ucntrl_Marka" tagprefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:Ucntrl_Marka ID="Ucntrl_Marka" runat="server" />
</asp:Content>
