﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Master.Master" AutoEventWireup="true" CodeBehind="AracTipi.aspx.cs" Inherits="EgmYKS.AracTipi" %>
<%@ Register src="~/Ucntrl/Calinti_Arac/Ucntrl_AracTipleri.ascx" tagname="Ucntrl_AracTipleri" tagprefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:Ucntrl_AracTipleri ID="Ucntrl_AracTipleri" runat="server" />
</asp:Content>
