﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Master.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="EgmYKS.Default" %>
<%@ Register src="~/Ucntrl/Guvenlik/Ucntrl_GuvenlikSirket.ascx" tagname="Ucntrl_GuvenlikSirket" tagprefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:Ucntrl_GuvenlikSirket ID="Ucntrl_GuvenlikSirket" runat="server" />
</asp:Content>
