﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Master.Master" AutoEventWireup="true" CodeBehind="Musteri.aspx.cs" Inherits="EgmYKS.Musteri" %>
<%@ Register src="~/Ucntrl/Guvenlik/Ucntrl_GuvenlikMusteri.ascx" tagname="Ucntrl_GuvenlikMusteri" tagprefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:Ucntrl_GuvenlikMusteri ID="Ucntrl_GuvenlikMusteri" runat="server" />
</asp:Content>
