﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Master.Master" AutoEventWireup="true" CodeBehind="UstOlay.aspx.cs" Inherits="EgmYKS.UstOlay" %>
<%@ Register src="Ucntrl/Ucntrl_UstOlayList.ascx" tagname="Ucntrl_UstOlayList" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:Ucntrl_UstOlayList ID="Ucntrl_UstOlayList1" runat="server" />
</asp:Content>
