﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Ucntrl_UstOlayList.ascx.cs" Inherits="EgmYKS.Ucntrl.Ucntrl_UstOlayList" %>
<%@ Register assembly="DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web.ASPxMenu" tagprefix="dx" %>
<%@ Register assembly="DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web.ASPxGridView" tagprefix="dx" %>
<%@ Register assembly="DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web.ASPxEditors" tagprefix="dx" %>
  <link rel="Shortcut Icon" href="~/Logo/icon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<h3>
                                <i class="fa fa-users"></i>Üst Olay İşlemi
                            </h3>
 <asp:Panel ID="succes" runat="server" Visible="false" Width="100%">
                            <div class="alert alert-success alert-dismissable" style="width: 100%">
                                <a class="close" data-dismiss="alert" href="#">×</a> <strong>Başarılı!</strong>
                                İşleminiz başarı ile gerçekleşti.
                            </div>
                        </asp:Panel>
                        <asp:Panel ID="error" runat="server" Visible="false" Width="100%">
                            <div class="alert alert-danger" style="width: 100%">
                                <a class="close" data-dismiss="alert" href="#">×</a> <strong>Hata!</strong> İşleminiz
                                hata aldı!
                            </div>
                        </asp:Panel>
                        <asp:Panel ID="Warning" runat="server" Visible="false" Width="100%">
                            <div class="alert alert-warning" style="width: 100%">
                                <a class="close" data-dismiss="alert" href="#">×</a> <strong>Uyarı!</strong> (*)
                                alanları yazınız!
                            </div>
                        </asp:Panel>
<div style="width: 100%">
    <asp:Label ID="Label1" runat="server" Text="Üst Olay Adı"></asp:Label>
    <dx:ASPxTextBox ID="ASPxTextBox1" runat="server" Theme="Moderno" Width="100%">
    </dx:ASPxTextBox>
    <dx:ASPxCheckBox ID="ASPxCheckBox1" runat="server" Text="Durum" Theme="MetropolisBlue">
    </dx:ASPxCheckBox>
    <table style="width:100%;">
        <tr>
            <td>
                <dx:ASPxButton ID="ASPxButton1" runat="server" Text="Kaydet" Theme="Moderno" OnClick="ASPxButton1_Click">
                </dx:ASPxButton>
            </td>
            <td>&nbsp;</td>
            <td align="right">
                <dx:ASPxButton ID="ASPxButton2" runat="server" Text="Yeni" Theme="Moderno" OnClick="ASPxButton2_Click">
                </dx:ASPxButton>
            </td>
        </tr>
    </table>
</div>


<dx:ASPxGridView ID="ASPxGridView1" runat="server" AutoGenerateColumns="False" 
    EnableTheming="True" Theme="Moderno" Width="100%" KeyFieldName="U_ID">
    <Columns>
        <dx:GridViewDataTextColumn Caption="Üst Olay" FieldName="U_IHBAR" 
            VisibleIndex="2" Width="81%">
        </dx:GridViewDataTextColumn>
        <dx:GridViewDataTextColumn Caption="Seç" VisibleIndex="6" Width="2%">
            <DataItemTemplate>
                <dx:ASPxButton ID="ASPxButton3" runat="server" OnCommand="ASPxButton3_Command"  CommandArgument="<%# Bind('U_ID')%>" RenderMode="Link">
                    <Image Url="~/images/Show_16x16.png">
                    </Image>
                </dx:ASPxButton>
            </DataItemTemplate>
        </dx:GridViewDataTextColumn>
        <dx:GridViewDataTextColumn Caption="Sil" VisibleIndex="7" Width="2%" Visible="False">
            <DataItemTemplate>
                <dx:ASPxButton ID="ASPxButton4" runat="server" OnCommand="ASPxButton4_Command"  CommandArgument="<%# Bind('U_ID') %>" RenderMode="Link">
                    <ClientSideEvents Click="function(s, e) {
		e.processOnServer = confirm('Silmek istiyor musunuz?');
}" />
                    <Image Url="~/images/DeleteList2_16x16.png">
                    </Image>
                </dx:ASPxButton>
            </DataItemTemplate>
        </dx:GridViewDataTextColumn>
        <dx:GridViewDataTextColumn Caption="Alt Olay" VisibleIndex="8" Width="4%">
            <DataItemTemplate>
                <dx:ASPxButton ID="ASPxButton5" runat="server" OnCommand="ASPxButton5_Command" CommandArgument="<%# Bind('U_ID')%>" RenderMode="Link">
                    <Image Url="~/images/Forward_16x16.png">
                    </Image>
                </dx:ASPxButton>
            </DataItemTemplate>
        </dx:GridViewDataTextColumn>
        <dx:GridViewDataCheckColumn Caption="Durum" FieldName="U_DURUM" VisibleIndex="4" Width="6%">
        </dx:GridViewDataCheckColumn>
        <dx:GridViewDataCheckColumn Caption="Öncelik" FieldName="U_ONCELIK" VisibleIndex="5" Width="5%">
        </dx:GridViewDataCheckColumn>
    </Columns>
    <SettingsBehavior AllowFocusedRow="True" />
    <SettingsPager>
        <Summary Text="Sayfa {0} / {1} ({2} veri)" />
    </SettingsPager>
    <Settings ShowFilterRow="True" />
    <SettingsText EmptyDataRow="Veri yok..." />
    <SettingsLoadingPanel Text="Yükleniyor&amp;hellip;" />
</dx:ASPxGridView>



